h1{
    display: flex;
    justify-content: center;
    color: darkturquoise;
    font-size: 45px;
}
ul{
    display: flex;
    justify-content: space-around;
}
p{
    max-width: 50%;
}
img{
    max-width: 10%;
    justify-content: right;
}
h2{
    color: brown;
    font-style: oblique;
}